@import 'colors';

.btn-rounded {
  border-radius: 40px;
}

.btn {
  background: rgba(0,0,0,0.5);
  color: $co-white;
  box-shadow: 0 6px rgba(0,0,0,0.75);
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  
  &:hover {
    box-shadow: 0 3px rgba(0,0,0,0.75);
  }
  
  &:active {
    box-shadow: 0 3px rgba(0,0,0,0.75);
  }
}